@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@400&display=swap");
body {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}

.marquee {
  background-color: #c78389;
}

.container {
  margin-top: 10%;
  max-width: 700px;
  padding: 30px 0px 70px 0px;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 7px 10px #95744c;
  background-color: #f2f7f5;
}
.verified {
  font-size: 20px;
  margin-left: 5px;
  color: #228de5;
}
.donasi {
  outline: none;
  border: 1px solid #333;
  box-shadow: 3px 5px #95744c;
  background-color: #c78389;
  padding: 5px 20px;
  text-decoration: none;
}

.donasi:active {
  outline: none;
  border: 1px solid #333;
  box-shadow: 1px 3px #95744c;
}

@media (max-width: 768px) {
  .container {
    max-width: 95%;
  }
  .profile-pict {
    margin: auto;
    display: block;
  }
  .profile-txt {
    text-align: center;
  }
  .donasi {
    width: 85%;
    padding: 10px 0;
  }
}
